*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  min-width: 100vw;
  width: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider-container {
  width: 50%;
  margin: auto;
  position: relative;
}

.slider-items {
  height: 40vw;
  margin: 50px 0 0;
  position: relative;
  list-style-type: none;
}

.slider-items li {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 15%;
  left: 50%;
  z-index: 1;
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.5s;
}

.slider-items li img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  /* transform: scale(1.3) rotate(25deg); */
  transform: scale(1.3);
  transition: 0.25s;
}

/* .slider-items li::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: 100% auto;
  transition: 0.3s;
} */

.slider-items li:hover::after {
  width: 90%;
}

.slider-items li.item-1 {
  z-index: 2;
  cursor: url("../img/link-cursor.png"), auto !important;
  transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
}

.slider-items li.item-1 img {
  transform: scale(1.8);
}

.slider-items li.item-2 {
  z-index: 2;
  opacity: 0.5;
  cursor: url("../img/link-cursor.png"), auto !important;
  transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
}

.slider-items li.item-3 {
  z-index: 0;
  opacity: 0.5;
  transform: translateX(-50%) scale(0.5) translate3d(0%, -31%, 0);
}

.slider-items li.item-4 {
  z-index: 0;
  opacity: 0.5;
  cursor: url("../img/link-cursor.png"), auto !important;
  transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
}

.slider-nav {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 45%;
  background-color: transparent;
  z-index: 1;
}

.slider-nav.next {
  right: -35%;
  transform: rotate(180deg);
}

.slider-nav.next:hover {
  animation: bounce-horizontal-1 1s ease-in-out infinite;
}

.slider-nav.prev {
  left: -35%;
}

.slider-nav.prev:hover {
  animation: bounce-horizontal-2 1s ease-in-out infinite;
}

/* .slider-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.slider-dots ul {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.slider-dots ul li {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 15px;
}

.slider-dots ul li.active {
  background-color: #fc4a03;
} */

.nametag-container {
  position: absolute;
  width: 50%;
  top: 58%;
  z-index: 2;
}

.nametag-container img {
  width: 50%;
  display: block;
  margin: auto;
}

h1 {
  position: absolute;
  color: #fcb703;
  top: 80%;
  left: 5%;
  font-family: "bakso_sapiregular";
  font-size: 4rem;
  -webkit-text-stroke: 2px black;
}

.anim__scale-in-center {
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.anim__scale-out-center {
  -webkit-animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* Keyframes */
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes bounce-horizontal-1 {
  0% {
    right: -35%;
  }
  50% {
    right: -37%;
  }
  100% {
    right: -35%;
  }
}

@keyframes bounce-horizontal-2 {
  0% {
    left: -35%;
  }
  50% {
    left: -37%;
  }
  100% {
    left: -35%;
  }
}
